<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini game hub</title>

</head>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
<h1> Welcome to mini games hub<br> by Keshav Thathai</h1>
  
    <p> choose a game to play</p>
    <form action="/rps">
        <button type ="submit">Rock paper scissor</button>

    </form>
     <form action="/quiz">
        <button type ="submit">Quiz</button>
    </form>
</body>
</html>